div#menu{
	background-color: white;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-top: 3px solid black;
	width: 10%;
	height: 20%;
	margin: 100px auto 0px auto;
	float: left;

}

div#lista ul li{
	display: block;
	font-size: 20px;
	margin-left: 5px;
	margin: 30px auto 0px auto;
	padding: 0px;
}

div#logo {
	display: block;
	border-bottom: 3px solid black;
}